#btn1 {
    margin-right:-6px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#btn3 {
    margin-left:-6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn_group button{
    border: 1px solid skyblue;
    background-color: rgba(0,0,0,0);
    color: skyblue;
    padding: 5px;
}
.btn_group button:hover{
    color:white;
    background-color: skyblue;
}
.context {
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Single Day', cursive;
    font-size: large;
}