* {
    background-color: pink;
    justify-content: center;
    text-align: center;
}

.img {
    width: 300px;
    height: 300px;
}

.context {
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Single Day', cursive;
    font-size: large;
}
