body {
    background-color: white
}
.contain {
    margin: 100px;
    text-align: center;
}
.text {
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Single Day', cursive;
    font-size: 30px;
    font-weight: bolder;
}
button {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
    color: white;
}