h1 {
    font-family: 'Single Day', cursive;
    font-size: 40px;
}

.index {
    font-size: 30px;
    width: 450px;
    height: 30px;
    padding: 3px 5px;
    margin: 7px 3px;
    font-family: 'Black Han Sans', sans-serif;
    background-color:rgb(117, 245, 250)
}