.star {
    margin: 50px 0;
    position: relative;
    display: block;
    color: aqua;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid aqua;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
  }
  .star:before {
    border-bottom: 80px solid aqua;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  .star:after {
    position: absolute;
    display: block;
    color: aqua;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid aqua;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }
  .heart {
    position: relative;
    width: 100px;
    height: 90px;
  }
  .heart:before,
  .heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  .heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  .parall {
    width: 200px;
    height: 100px;
    transform: skew(20deg);
    background: yellow;
  }